%div{class:"well well-small", style:"width:1000px; margin: 0 auto;"}
  %h1 New developer

= render 'form'

%div{class:"well well-small", style:"width:1000px; margin: 0 auto;"}  
  %div{class:"btn-group pull-right"}
    = link_to 'Back', developers_path, class:"btn"
