.modal.hide.fade#confirm{style:"width:320px; margin-left:-150px;"}
  %button.close{:"data-dismiss"=>:"modal"}
    %span{style:"margin:0 10px 10px 0;"}
      ×
  .modal-body
    .confirm-content
      
    .pull-left.btn#yes_btn
      Yes
    #no_btn.close{:"data-dismiss"=>:"modal"}
      .btn.pull-right
        No