.modal.hide.fade#confirm{style:"width:320px; margin-left:-150px;"}
  %button.close{:"data-dismiss"=>:"modal"}
    %span{style:"margin:0 10px 10px 0;"}
      ×
  .modal-body
    .confirm-content
      
    #no_btn{:"data-dismiss"=>:"modal"}
      .btn.pull-left
        No
    .pull-right.btn#yes_btn
      Yes