%div{class:"modal hide fade", id:"index-modal"}
  .modal-header
    .index-notice
    %button{class:"close", :"data-dismiss"=>:"modal"}
      ×
    %h3{id:"index-title"}

  %div{class:"modal-body"}
    %table{class:"table table-bordered append-index-modal"}

%h1
  Welcome

%table{class:"table table-bordered", style:"width:1000px; margin: 0 auto;"}
  %tr
    %th Project name
    %th Client name
    %th Manager
    %th Applications list
    %th Developers list
  - for list in @projects
    %tr
      %td=link_to list.name, project_path(list)
      %td=link_to list.client_name, client_path(list.client_id)
      %td=link_to list.manager_name, manager_path(list.manager_id)
      %td=app_link("Show developers", "applications", list.product_id)
      %td=link_to "Show developers", '#', id:"#{list.id}", class:"get-list-developers"
    
  