%div{class:"modal hide fade", id:"app-list"}
  .modal-header
    %button{class:"close", :"data-dismiss"=>:"modal"}
      ×
    %h4{id:"app-title"}

  %div{class:"modal-body"}
    .index-content



%table{class:"table table-bordered", style:"width:1000px; margin: 0 auto;"}
  %tr
    %th=sortable 'name', 'Project name'
    %th=sortable 'client_name', 'Client name'
    %th=sortable 'manager_name', 'Manager'
    %th Applications list

  - for list in @projects
    %tr
      %td=link_to list.name, project_path(list)

      %td=link_to list.client_name, client_path(list.client_id)
      %td=link_to list.manager_name, manager_path(list.manager_id)
      %td
        =app_link("Show applications", "applications", list.id)
        %div{class:"append-projects"}

  %tr
    %td{colspan:'5'}
      %ul{class:"limit pull-right"}
        %li=link_to '10', '?lim=10'
        %li /
        %li=link_to '30', '?lim=30'
        %li /
        %li=link_to '50', '?lim=50'
        %li /
        %li=link_to 'all', '?lim=all'

    = paginate @projects
