%div{class:"well well-small", align:"center"}
  %h1 Editing manager

= render 'form'
%div{class:"well well-small"}  
  .btn-group
    = link_to 'Show', @manager, class:"btn"
    = link_to 'Back', back(managers_path), class:"btn"
