.well.well-small{style:"width:1000px; margin: 0 auto;"}
  %h1 New manager

= render 'form'
.well.well-small{style:"width:1000px; margin: 0 auto;"}  
  .btn-group.pull-right
    = link_to "Back", :back, class:"btn"
