= form_for(@handle, url:"/admin/handle/#{params['id']}", method:"post", remote:true, id:"hundle-form") do |f|
	=f.text_field :handle_name, id:"text-f-handle"
	=f.submit "Submit", class:"btn", id:"new-handle", style:"position:relative; top:-5px;"