.well.well-small{style:"width:1000px; margin: 0 auto;"}
  %h1 Editing client

= render 'form'


.well.well-small{style:"width:1000px; margin: 0 auto;"}  
  .btn-group.pull-right
    = link_to 'Show', @client, class:"btn"
    = link_to "Back", :back, class:"btn"
