
%div{class:"well well-small", style:"width:1000px; margin: 0 auto;"}
  %h1 Editing client

= render 'form_edit'


%div{class:"well well-small", style:"width:1000px; margin: 0 auto;"}  
  %div{class:"btn-group pull-right"}
    = link_to 'Show', @client, class:"btn"
    = link_to 'Back', clients_path, class:"btn"
