%div{class:"well well-small", align:"center", align:"center", style:"width:980px; margin: 0 auto;"}
  %h1 New client




= render 'form'
%div{class:"well well-small", style:"width:1000px; margin: 0 auto;"}  
  %div{class:"btn-group pull-right"}
    = link_to "Back", :back, class:"btn"