.well.well-small{align:"center", style:"width:980px; margin: 0 auto;"}
  %h1 New client




= render 'form'
.well.well-small{style:"width:1000px; margin: 0 auto;"}  
  .btn-group pull-right
    = link_to "Back", :back, class:"btn"