%div{class:"modal hide fade", id:"client-list"}
  .modal-header
    %button{class:"close", :"data-dismiss"=>:"modal"}
      ×
    %h4{id:"client-title"}

  %div{class:"modal-body"}
    .clients-content