%div{class:"well well-small", align:"center"}
  %h1 Editing company

= render 'form'


%div{class:"well well-small"}  
  .btn-group
		= link_to 'Show', @company, class:"btn"
		= link_to 'Back', back(companies_path), class:"btn"
