%div{class:"well well-small", style:"width:1000px; margin: 0 auto;"}
  %h1 Editing company

= render 'form'


%div{class:"well well-small", style:"width:1000px; margin: 0 auto;"}  
  %div{class:"btn-group pull-right"}
    = link_to 'Show', @company, class:"btn"
    = link_to 'Back', companies_path, class:"btn"
