-if notice
  %div{class:"alert alert-success"}
    %button{:class=>"close", :"data-dismiss"=>:"alert"}
      x
    =notice

%table{class:"table table-bordered", id:"show-recoreds"}
  %tr
    %th Name:
    %td= @company.name
  %tr
    %th Website:
    %td= @company.website
%div{class:"well well-small"}  
  .btn-group
    = link_to 'Edit', edit_company_path(@company), class:"btn"
    = link_to 'Back', companies_path, class:"btn"
