-if notice
  %div{class:"alert alert-success"}
    %button{:class=>"close", :"data-dismiss"=>:"alert"}
      x
    =notice

%table{class:"table table-bordered", id:"show-company"}
  %tr
    %th Name:
    %td= @company.name
  %tr
    %th Website:
    %td= @company.website

= link_to 'Edit', edit_company_path(@company)
\|
= link_to 'Back', companies_path
