.select-th { background: rgba(153,153,153,0.3) !important; }
.well-width{ width:980px; margin: auto; }
#show-recoreds th{ width:30%;  }
a[disabled="disabled"]{color:#ccc;}
ul.limit li {float: left; list-style: none; font-size: 16x; padding-left:5px;}
.icon-plus{color:black;}
.icon-plus:hover{cursor:pointer; text-decoration:none;}
.icon-edit{position:absolute !important; margin-left:75px;}
.icon-edit:hover{cursor:pointer; color:#cccccc; }
.icon-ok-sign{color:green;}
.icon-ok{color:green;}
.icon-ok:hover{cursor:pointer;}
table.table-app td{width:50%;}
.icon-ok-sign:hover{cursor:pointer;}
.append-projects{ width:130px;}
.error_proj{border-width: 2px; color: red !important; border-color: rgba(204,51,51,0.5) !important;}
a.prev-app:hover{cursor: pointer;}
a.prev-client:hover{cursor: pointer;}         
td .icon-play:hover {cursor:pointer;}
.app-panel span:hover{cursor:pointer;}
#hide_btn:hover{background: rgba(0,0,0,0.1); cursor:pointer;}
.table_no_border-left td, .table_no_border-left th { border-left: none;}
#show-btn{margin-left:450px;}
.well-small .btn{position:relative; top:-5px;}
ul.admin-index-action li{ list-style: none; float:left; margin-left:20px;}
ul.admin-index-action{ margin-left: -30px; }

.add-or-get-h { color:green; }
.add-or-get-h:hover{ color:red; cursor: pointer; }
.colored{color:green;}
.popover-title{ display: none; }
.popover{ height: 30px !important; width: 170px; }
.popover input[type='text'] { position: relative; left:-15px; top:-10px; border: none; height: 23px; }
.notice-index{ position: absolute; top: -20px; left:-10px; width: 300px;}
#add-index-h{ position: relative; left: 115px; top:-50px; height: 32px; width: 44px; }


.icon-plus-sign { color: green;}
.icon-plus-sign:hover { cursor: pointer; color: red;}
.popover{ height: 150px !important; overflow-x: auto; overflow-y: scroll; width:auto; }
.error_proj{border-width: 2px; color: red !important; border-color: rgba(204,51,51,0.5) !important;}


.typeahead{width:310px !important;  margin-top:2px !important;}