.icon-plus-sign { color: green;}
.icon-plus-sign:hover { cursor: pointer; color: red;}
.popover{ height: 150px !important; overflow-x: auto; overflow-y: scroll; width:auto; }
.error_proj{border-width: 2px; color: red !important; border-color: rgba(204,51,51,0.5) !important;}